

  <header>
    <h1>About Page</h1>



    <nav>
      <a href="/index">main</a>
      <a href="/restauraunts">restauraunts</a>
      <a href="/about">about</a>

    </nav>

  </header>

  <main>
    
      <section>
        <h1>Site made by Larsen Freund for CS361.</h1>
        <p>This site is not affiliated with Oregon State University. Opinions and commenters left by reviewers
            are not representive of site owner's views.
        </p>
      </section>

          <footer style="background-color:rgb(218, 63, 25);"> Larsen Freund, 2024</footer>

  </main>